
#main-title {
	padding-top:109px;
}

.date-result {
	color: grey;
	font-style: italic;
	font-size: 12px;
}

.holder {
	padding: 10px;
}

.heading-text {
	font-weight: bold;
}

.more-button {
	margin-top: 15px;
}

.modal-head {
	font-size: 14px;
}