
main {
	padding-left: 240px;
}

#logo-container {
	padding-top: 40px;
	padding-left: 5px;
	padding-right: 5px;
}

#search-nav {
	margin-left: 20px;
	margin-right: 20px;
}


#side-bar {
	background-color: rgba(45,45,45,.5);
}

#main-title {
	padding-top:109px;
}

#search-box {
	padding-left: 2px;
	padding-right: 2px;
}

.date-result {
	color: grey;
	font-style: italic;
	font-size: 12px;
}

.holder {
	padding: 10px;
}

.heading-text {
	font-weight: bold;
}

.more-button {
	margin-top: 15px;
}

.modal-head {
	font-size: 14px;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
